// Paths
$imageDir: '../images/';
$iconsDir: '../icons/';
$fontDir: '../fonts/';

// Fonts
$ProximaNova: 'ProximaNova', Arial, Tahoma, sans-serif;

// Grid
$commonWidth: 1230px;
$gutter: 30px;

// Colors
$white: #fff;
$black: #000;
$grey: #232323;
$mainBlue: #1a9afd;
$darkBlue: #00355e;
$yellow: #f4e927;