@import '../helpers/variables';
@import '../helpers/mixins';


.advantages {
  padding: 60px 0 70px;
}

.advantages__title {
  width: 100%;
  font-weight: 600;
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  @include breakpoint (sm) {
    font-size: 28px;
  }
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 40px;
  @media (max-width: 1139px) {
    justify-content: space-around;
  }
}

.advantages__item {
  position: relative;
  width: calc((100% - 120px) / 3);
  min-width: 300px;
  padding: 170px 35px 30px 50px;
  border-radius: 10px;
  box-shadow: 0 0 63.05px 1.95px rgba(0, 0, 0, 0.08);
  &::before {
    @include pseudo();
    top: 50px;
    left: 50px;
    width: 95px;
    height: 95px;
    background: url("../images/css_sprites.png") -406px -10px no-repeat;
    @include breakpoint (sm) {
      left: 25px;
    }
  }
  @include breakpoint (sm) {
    padding: 170px 15px 30px 25px;
  }
}

.advantages__item:not(:last-of-type) {
  margin-right: 15px;
  @media (max-width: 1139px) {
    margin-bottom: 20px;
  }
}

.advantages__subtitle {
  width: 100%;
  font-weight: 700;
  font-size: 24px;
  text-align: left;
  @include breakpoint (sm) {
    font-size: 18px;
  }
}

.advantages__paragraph {
  margin-top: 25px;
  font-weight: 100;
  font-size: 16px;
  line-height: 24px;
  @include breakpoint (sm) {
    font-size: 14px;
    line-height: 21px;
  }
}