@import '../helpers/variables';
@import '../helpers/mixins';


.documents {
  padding: 35px 0;
}

.documents__title {
  width: 100%;
  font-weight: 600;
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  @include breakpoint (sm) {
    font-size: 28px;
  }
}

.documents__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-top: 60px;
  padding: 70px 96px 125px;
  background: $lightViolet url("../images/documents-background.jpg") no-repeat;
  background-size: cover;
  @include breakpoint (md) {
    margin-top: 30px;
    padding: 30px 30px 70px;
  }
}

.documents__subtitle {
  font-weight: 400;
  font-size: 26px;
  @include breakpoint (md) {
    margin-top: 20px;
    font-size: 18px;
  }  
}

.documents__list {
  margin-top: 30px;
  font-weight: 400;
  font-size: 18px;
  @include breakpoint (md) {
    margin-top: 20px;
    font-size: 14px;
  }
}

.documents__item:not(:last-of-type) {
  margin-bottom: 10px;
}

.documents__button {
  margin-top: 30px; 
  padding: 30px 50px;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  @include breakpoint (md) {
    padding: 20px 25px;
    font-size: 16px;
  }
  @media (max-width: 390px) {
    padding: 20px 10px;
    min-width: 200px;
    width: 100%;
  }
}

.documents__link {
  margin-top: 45px;
  font-weight: 700;
  font-size: 18px;
  text-decoration: underline;
  color: $grey;
  @include breakpoint (md) {
    margin-top: 30px;
    font-size: 14px;
  }
}

.documents__link:hover,
.documents__link:active,
.documents__link:focus {
  color: $mainBlue;
}

.documents__paragraph {
  margin-top: 20px;
  font-weight: 400;
  font-size: 18px;
  @include breakpoint (md) {
    font-size: 14px;
  }
}