@import '../helpers/variables';
@import '../helpers/mixins';


.gallery {
  padding: 35px 0;
}

.gallery__title {
  width: 100%;
  font-weight: 600;
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  @include breakpoint (sm) {
    font-size: 28px;
  }
}