@import '../helpers/variables';
@import '../helpers/mixins';


.main-header {
	width: 100%;
	background: $darkBlue url("../images/banner-background.jpg") no-repeat;
	background-size: cover;
}


//Top-Bar

.top-bar {
  position: relative;
  z-index: 2;
	max-width: 1454px;
	margin: 30px auto 0;
	padding: 60px 0;
	background-color: $darkBlue;
  background-image: linear-gradient(0deg, rgb(60,64,89) 0%, rgb(44,46,69) 100%);
  @include breakpoint (el) {
    margin: 0 auto;
  }
}

.top-bar__container {
  flex-wrap: nowrap;
	justify-content: space-between;
  align-items: flex-start;
  @include breakpoint (sm) {
    flex-wrap: wrap;
  }
}

.top-bar__logo {
  min-width: 96px;
}

.top-bar__logo-image {
  width: 100%;
  height: auto;
}

.navigation {
  display: flex;
  max-width: 970px;
  min-height: 34px;
  margin-left: 20px;
  @include breakpoint (el) {
    flex-direction: column;
    position: relative;
    width: 200px;
    margin-left: 0;
  }
  @media (max-width: 470px) {
    margin: 0 0 0 20px;
  }
  @media (max-width: 375px) {
    margin: 30px auto 0;
    width: 100%;
  }
}

.navigation__toggle {
  display: none;
  @include breakpoint (el) {
    position: absolute;
    top: 9px;
    right: 5px;
    display: block;
    width: 30px;
    height: 30px;
  }
}

.navigation--closed .navigation__toggle::before {
  @include pseudo();
  top: 0;
  right: 0;
  width: 30px;
  height: 4px;
  background-color: $mainBlue;
  box-shadow: 0 8px 0 0 $mainBlue, 0 16px 0 0 $mainBlue;
}

.navigation--opened .navigation__toggle {
  top: 2px;
  right: 5px;
  &::before,
  &::after {
    @include pseudo();
    width: 30px;
    height: 4px;
    background-color: $mainBlue;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
  &:hover::before,
  &:hover::after {
    background-color: $white;
  }
}

.navigation__list {
	display: flex;
	flex-wrap: wrap;
  justify-content: space-between;
	font-weight: 600;
	font-size: 14px;
  text-transform: uppercase;
  text-align: left;
  color: $white;
  @include breakpoint (el) {
    flex-direction: column;
    justify-content: center;
  }
}

.navigation--closed .navigation__item {
  @include breakpoint(el) {
    display: none;
    &--active {
      display: block;
    }
  }
}

.navigation--closed .language-toggle {
  @include breakpoint(el) {
    display: none;
  }
}

.navigation__item:not(:last-of-type) {
  margin-right: 20px;
  @include breakpoint (el) {
    margin-right: 0;
  }
}

.navigation__link {
  color: $white;
  @include breakpoint (el) {
    display: block;
    padding: 10px;
    padding-left:0;
   }
}

.navigation__link:hover {
  color: $mainBlue;
}

.navigation__link:focus,
.navigation__link:active,
.navigation__link--active {
  padding-bottom: 9px;
  color: $mainBlue;
  border-bottom: 4px solid $mainBlue;
  @include breakpoint (el) {
    border-bottom: none;
    padding-bottom: 10px;
  }
}

.navigation--opened .navigation__link--active,
.navigation--closed .navigation__link--active {
  @include breakpoint (el) {
    color: $mainBlue;
    border-top: 1px solid $mainBlue;
    border-bottom: 1px solid $mainBlue;
  }
}

.language-toggle {
  margin-left: 20px;
  @include breakpoint (el) {
    margin-left: 0;
  }
}

.language-toggle__item {
  display: none;
}

.language-toggle__item:nth-child(1) {
  display: block;
}

.language-toggle__link {
  position: relative;
  padding: 0 20px 0 14px;
  font-weight: 600;
	font-size: 14px;
  text-transform: uppercase;
  color: $mainBlue;
  @include breakpoint (el) {
    padding: 10px 20px 10px 0;
  }
}

.language-toggle__link::before {
  @include pseudo();
  top: 50%;
  left: 0;
  width: 2px;
  height: 34px;
  margin-top: -17px;
  background-color: $mainBlue;
  @include breakpoint (el) {
    display: none;
  }
}

.language-toggle__link::after {
  @include pseudo();
  top: 50%;
  right: 0;
  width: 8px;
  height: 8px;
  margin-top: -6px;
  border-left: 2px solid $mainBlue;
  border-bottom: 2px solid $mainBlue;
  transform: rotate(-45deg);
}



//Banner

.banner {
  padding-bottom: 420px;
}

.banner__container {
  position: relative;
  z-index: 2;
  flex-direction: column;
  align-items: flex-start;
}

.banner__title {
  max-width: 530px;
  margin-top: 100px;
  font-weight: 700;
  font-size: 72px;
  color: $white;
  @include breakpoint (md) {
    margin-top: 50px;
    font-size: 48px;
  }
  @include breakpoint (sm) {
    margin-top: 30px;
    font-size: 32px;
  }
}

.banner__title--big {
  font-size: 100px;
  @include breakpoint (md) {
    font-size: 60px;
  }
  @include breakpoint (sm) {
    font-size: 48px;
  }
}

.banner__paragraph {
  max-width: 600px;
  margin-top: 40px;
  font-size: 24px;
  color: $white;
  @include breakpoint (md) {
    margin-top: 20px;
    font-size: 18px;
  }
}

.banner__button {
  margin-top: 65px;
  font-size: 30px;
  padding: 30px 100px;
  box-shadow: 0 0 23.28px 0.72px rgba(0, 0, 0, 0.46);
  @include breakpoint (md) {
    margin-top: 30px;
    padding: 30px 50px;
    font-size: 28px;
  }
  @include breakpoint (sm) {
    padding: 20px 15px;
    font-size: 18px;
  }
}

/*.banner__button:hover,
.banner__button:focus,
.banner__button:active {
  color: $grey;
  background-color: $yellow;
}*/


