@import '../helpers/variables';
@import '../helpers/mixins';


.main-footer {
  background-color: #1b1c29;
}

.footer-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 970px;
  min-height: 34px;
  margin: 0 auto;
  padding: 45px 0 0;
  @media (max-width: 883px) {
    width: 48%;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 45px 0;
  }
  @include breakpoint (sm) {
    order:1;
    width: 100%;
    padding: 0 0 45px;
    justify-content: center;
    align-items: center;
  }
}

.footer-navigation__list {
  display: flex;
	flex-wrap: wrap;
  justify-content: space-around;
	font-weight: 600;
	font-size: 14px;
  text-transform: uppercase;
  text-align: left;
  color: $white;
  @media (max-width: 883px) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  @include breakpoint (sm) {
    text-align: center;
  }
}

.footer-navigation__item {
  @include breakpoint (sm) {
    width: 100%;
  }
  
}

.footer-navigation__item:not(:last-of-type) {
  margin-right: 20px;
  @include breakpoint (el) {
    margin-right: 0;
  }
}

.footer-navigation__link {
  color: $white;
  @include breakpoint (el) {
    display: block;
    padding: 10px;
    padding-left:0;
   }
}

.footer-navigation__link:hover {
  color: $mainBlue;
}

.footer-navigation__link:focus,
.footer-navigation__link:active,
.footer-navigation__link--active {
  padding-bottom: 9px;
  color: $mainBlue;
  border-bottom: 4px solid $mainBlue;
  @include breakpoint (el) {
    border-bottom: none;
    padding-bottom: 10px;
  }
}

.contacts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 40px 0;
  @media (max-width: 883px) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  @media (max-width: 883px) {
    width: 48%;
    margin-top: 10px;
  }
  @include breakpoint (sm) {
    order:0;
    width: 100%
  }
}

.contacts__logo {
  padding: 15px;
  border: 4px solid $mainBlue;
  @media (max-width: 883px) {
    order: 1;
    margin-top: 30px;
  }
  @include breakpoint (sm) {
    margin-top: 40px;
  }
}

.contacts__wrapper {
  @media (max-width: 883px){
    order: 0;
  }
  @media (max-width: 883px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
  }
  @media (max-width: 350px) {
    width: 260px;
  }

}

.contacts__logo-image {
  width: 100%;
  height: auto;
}

.contacts__item {
  position: relative;
  padding-left: 30px;
  margin-left: 20px;
  font-weight: 400;
  font-size: 14px;
  color: $white;
  &::before {
    @include pseudo();
    top: 50%;
    left: 0;
    margin-top: -6.5px;
    width: 18px;
    height: 13px;
    background: url("../images/css_sprites.png") no-repeat;
  }
  @media (max-width: 883px) {
    margin-left: 0;
  }
  @media (max-width: 350px) {
    width: 50%;
  }
}

.contacts__item--phone{
  @include breakpoint (sm) {
    width: 50%;
  }
}

.contacts__item--phone::before {
 background-position: -444px -237px;
}

.contacts__item--email::before {
  background-position: -406px -237px;
}

.contacts__button {
  margin-left: 40px;
  padding: 16px 50px;
  font-size: 20px;
  border-radius: 50px;
  color: $grey;
  text-transform: uppercase;
  @media (max-width: 883px) {
    margin-left: 0;
    margin-top: 30px;
    padding: 16px 20px;
  }
  @include breakpoint (sm) {
    font-size: 16px;
  }
  @media (max-width: 350px) {
    width: 100%;
  }
}