@import '../helpers/variables';
@import '../helpers/mixins';


.main-footer {
  background-color: #1b1c29;
}

.main-footer__navigation {
  width: 100%;
  margin: 0 auto;
  padding: 45px 0;
  @include breakpoint (md) {
    width: 48%;
  }
  @include breakpoint (sm) {
    order:1;
    width: 100%;
    padding: 0 0 45px;
  }
}

.main-footer__navigation .navigation__list {
  @include breakpoint (sm) {
    text-align: center;
  }
}

.contacts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 40px 0;
  @media (max-width: 847px) {
    justify-content: center;
    align-items: flex-start;
  }
  @include breakpoint (md) {
    width: 48%;
    margin-top: 10px;
  }
  @include breakpoint (sm) {
    order:0;
    width: 100%
  }
}

.contacts__logo {
  padding: 15px;
  border: 4px solid $mainBlue;
  @media (max-width: 847px) {
    order: 1;
    margin-top: 20px;
  }
}

.contacts__wrapper {
  @media (max-width: 847px) {
    order: 0;
  }
  @include breakpoint (md) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
  }
}

.contacts__logo-image {
  width: 100%;
  height: auto;
}

.contacts__item {
  position: relative;
  padding-left: 30px;
  margin-left: 20px;
  font-weight: 400;
  font-size: 14px;
  color: $white;
  &::before {
    @include pseudo();
    top: 50%;
    left: 0;
    margin-top: -6.5px;
    width: 18px;
    height: 13px;
    background: url("../images/css_sprites.png") no-repeat;
  }
  @include breakpoint (md) {
    margin-left: 0;
  }
}

.contacts__item--phone{
  @include breakpoint (sm) {
    width: 50%;
  }
}

.contacts__item--phone::before {
 background-position: -444px -237px;
}

.contacts__item--email::before {
  background-position: -406px -237px;
}

.contacts__button {
  margin-left: 40px;
  padding: 16px 50px;
  font-size: 20px;
  border-radius: 50px;
  color: $grey;
  text-transform: uppercase;
  @include breakpoint (md) {
    margin-left: 0;
    margin-top: 20px;
    padding: 16px 20px;
  }
  @include breakpoint (sm) {
    font-size: 16px;
  }
}