@import '../helpers/variables';
@import '../helpers/mixins';

.main-header {
	width: 100%;
	background: $darkBlue url("../images/banner-background.jpg") no-repeat;
	background-size: cover;
}

.top-bar {
	width: 1454px;
	margin: 0 auto;
	padding: 60px;
	background-color: $darkBlue;
	background-image: linear-gradient(0deg, rgb(60,64,89) 0%, rgb(44,46,69) 100%);
}

.top-bar__container {
	justify-content: space-between;
	align-items: center;
}

.top-bar__logo {
	width: 8%;
}

.navigation {
	width: 89%;
}

.navigation__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	font-weight: 600;
	font-size: 18px;
	text-transform: uppercase;
	color: $white;    
}

