@import '../helpers/variables';
@import '../helpers/mixins';


//Request-form
.request {
  position: relative;
  max-width: 770px;
  margin: 0 auto;
  padding: 50px 60px;
  border: 2px solid #eee;
  background-color: $white;
  @include breakpoint (sm) {
    padding: 50px 30px;
  }
}

.request__title {
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
}

.request__form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 40px;
  @include breakpoint (md) {
    flex-direction: column;
  }
}

.request__left-column,
.request__right-column {
  width: 50%;
  min-width: 260px;
  padding: 0 10px;
  @include breakpoint (md) {
    width: 100%;
    padding: 0;
  }
}


.common-relative {
  position: relative;
}

.common-field {
  display: block;
  width: 100%;
  min-height: 40px;
  padding: 10px 20px;
  margin-top: 20px;
  border: 2px solid #eee;
}

.common-subtitle {
  position: absolute;
  top: -10px;
  left: 20px;
  display: block;
  padding: 0 10px;
}

.common-subtitle,
.attached__paragraph,
.attached__placeholder {
  font-weight: 400;
  font-size: 14px;
  color: #777;
  background-color: $white;
}


.category__list--closed .category__item,
.country__list--closed .country__item {
  display: none;
    &--active {
      display: inline-block;
    }
}

.category__list--closed .category__field,
.country__list--closed .country__field {
  border: none;
  padding: 0 10px;
  min-height: 20px;
  margin: 0;
}

.customer-contacts__item  {
  padding: 0;
}

.customer-contacts__field {
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  border: none;
}

.delivery__paragraph,
.attached__paragraph {
  margin-top: 20px;
  font-weight: 400;
  font-size: 14px;
  color: #777;
  text-decoration: underline;
}

.attached__add-info {
  margin-top: 10px;
  font-weight: 400;
  font-size: 12px;
  color: #757474;
}

.delivery__fieldset {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 10px;
  @include breakpoint (md) {
    justify-content: space-around;
  }
}

.delivery__item {
  width: 130px;
  @include breakpoint (md) {
    width: calc((100% - 20px) / 3);
  }
  @include breakpoint (sm) {
    width: calc((100% - 20px) / 2);
  }
  @media (max-width: 440px) {
    width: 100%;
  }
}

.delivery__field {
  margin: 0 0 10px;
  padding: 5px 10px;
  @include placeholder {
    font-weight: 400;
    font-size: 12px;
    color: #aaa;
  }
}

.category__checkbox:checked + .category__checkbox-text,
.country__radio:checked + .country__radio-text {
  font-weight: 700;
  color: $mainBlue;
}

.category__list--opened .category__field,
.country__list--opened .country__field {
  &:hover {
    background-color: #eee;
  }
}

.category,
.category__field,
.country,
.country__field,
.attached__field {
  cursor: pointer;
}

.request__right-column {
  display: flex;
  flex-direction: column;
}

.attached {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.attached__field--signature {
  margin-top: 30px;
  @include breakpoint (md) {
    margin-top: 20px;
  }
}

.attached__paragraph--have-license {
  //margin-top: 40.5px;
  @include breakpoint (md) {
    margin-top: 20px;
  }
}

.attached__field {
  background: $white url("../images/clip.png") center right 20px no-repeat;
}

.category__button,
.country__button {
  position: absolute;
  top: 18px;
  right: 20px;
  width: 20px;
  height: 10px;
  background: url("../images/list-button.png") no-repeat;
}

.category__list--opened + .category__button,
.country__list--opened + .country__button {
  display: none;
}

.request__button {
  min-width: 260px;
  margin: 30px auto;
  padding: 15px 30px;
  font-weight: 700;
  font-size: 18px;
  border-radius: 50px;
  text-transform: uppercase;
}


//Congratulation

.congratulation {
  position: relative;
  max-width: 960px;
  margin: 0 auto;
  padding: 70px 70px 0 470px;
  border: 2px solid #eee;
  background: $white url("../images/congratulation-background.jpg") no-repeat;
  background-size: cover;
  @include breakpoint (lg) {
    padding: 0 50px 0 400px;
    background-position-x: -30px; 
  }
  @include breakpoint (md) {
    padding: 0 30px 0 250px;
    background-position-x: -80px; 
  }
  @include breakpoint (sm) {
    padding: 0 30px;
    background: $white;
    text-align: center;
  }
}

.congratulation__paragraph--bold {
  margin-top: 140px;
  font-weight: 900;
  font-size: 36px;
  @include breakpoint (md) {
    font-size: 32px;
  }
  @include breakpoint (sm) {
    margin-top: 70px;
  }
}

.congratulation__paragraph {
  margin-top: 25px;
  font-size: 24px;
  @include breakpoint (md) {
    font-size: 18px;
  }
}

.congratulation__paragraph:last-of-type {
  margin-bottom: 215px;
  @include breakpoint (sm) {
    margin-bottom: 70px;
  }
}

.button-close {
  position: absolute;
  top: 30px;
  right: 50px;
  &::before,
  &::after {
    @include pseudo();
    width: 30px;
    height: 4px;
    background-color: $mainBlue;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
}

.button-close:hover {
  &::before,
  &::after {
    background-color: $darkBlue;
  }
}


//Popup-display
.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal__popup {
  display: none;
  position: relative;
  z-index: 300;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  box-shadow: 0 0 100px rgba(35,35,35,.8);
}

.request {
  display: block;
  @include breakpoint (md) {
    height: 100%;
  }
}

.congratulation {
  display: none;
}






