@import '../helpers/variables';
@import '../helpers/mixins';


//Application-form

.popup-application {
  position: relative;
  max-width: 770px;
  margin: 0 auto;
  padding: 50px 60px;
  border: 2px solid #eee;
  background-color: $white;
  @include breakpoint (sm) {
    padding: 50px 30px;
  }
}

.popup-application__title {
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
}

.popup-application__form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 40px;
  @include breakpoint (md) {
    flex-direction: column;
  }
}

.popup-application__left-wrapper,
.popup-application__right-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  min-width: 260px;
  padding: 0 10px;
  @include breakpoint (md) {
    width: 100%;
    padding: 0;
  }
}

.popup-application__list--opened .popup-application__item {
  position: relative;
  padding: 10px 0;
  min-height: 40px;
}

.popup-application__list--opened .popup-application__class {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  line-height: 2.8;
}

.popup-application__subtitle,
.popup-application__class,
.popup-application__paragraph {
  font-weight: 400;
  font-size: 14px;
  color: #777;
}

.popup-application__subtitle {
  margin-top: 10px;
}

.popup-application__list--closed .popup-application__class {
  margin-left: 10px;
}

.popup-application__field,
.license-country {
  display: block;
  width: 100%;
  min-height: 40px;
  margin-top: -10px;
  padding: 10px 20px;
  border: 2px solid #eee;
}

.popup-application__list-title {
  display: inline-block;
}

.popup-application__subtitle-text,
.popup-application__list-title {
  padding: 0 10px;
  margin-left: 20px;
  background-color: $white;
}

.popup-application__list--closed .popup-application__item {
  display: none;
    &--active {
      display: inline-block;
    }
}

.popup-application__list--opened .popup-application__item:not(:last-of-type) {
  border-bottom: .4px solid #eee;
}

.popup-application__item:hover,
.popup-application__class:hover {
  cursor: pointer;
}

.popup-application__list--opened .popup-application__item:hover,
.popup-application__list--opened .popup-application__item:active,
.popup-application__list--opened .popup-application__item:focus {
  background-color: #eee;
}

.popup-application__field:checked + .popup-application__class-text {
  color: $mainBlue;
}

.popup-application__list-wrapper {
  position: relative;
}

.popup-application__list-button {
  position: absolute;
  top: 40px;
  right: 20px;
  width: 0; 
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 12px solid $mainBlue;
}

.popup-application__list--closed + .popup-application__list-button {
  top: 35px;
}

.popup-application__list--opened + .popup-application__list-button {
  transform: rotate(90deg);
}

.popup-application__paragraph {
  margin-top: 20px;
  text-decoration: underline;
}

.popup-application__adress-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  padding: 20px 10px;
  border: 2px solid #eee;
  @include breakpoint (md) {
    justify-content: space-around;
  }
  @media (max-width: 360px) {
    flex-direction: column;
  }
}

.popup-application__subtitle-legend {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -10px;
  margin-left: 10px;
  padding: 0 10px;
  font-weight: 400;
  font-size: 14px;
  color: #777;
  background-color: $white;
}

.popup-application__subtitle--adress {
  width: 130px;
  margin-left: 0;
  margin-top: 20px;
  @media (max-width: 360px) {
    width: 100%;
  }
}

.license-country {
  appearance: none;
  cursor: pointer;
}

.popup-application__select-country {
  position: relative;
  &::before {
    @include pseudo();
    top: 20px;
    right: 20px;
    width: 0; 
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 12px solid $mainBlue;
  }
}

.popup-application__file {
  position: relative;
  display: block;
  width: 100%;
  min-height: 40px;
  margin-top: 20px;
  padding: 10px 20px;
  font-weight: 400;
  font-size: 14px;
  color: #777;
  border: 2px solid #eee;
  cursor: pointer;
  background: $white url("../images/clip.png")  no-repeat;
  background-position: center right 20px;
}

.popup-application__file-text {
  position: absolute;
  top: -10px;
  left: 10px; 
  padding: 0 10px;
  background-color: $white;
}

.popup-application__add-info {
  margin-top: 10px;
  font-size: 12px;
}

.popup-application__file--sign {
  margin-top: 20px;
}

.popup-application__button {
  min-width: 260px;
  margin: 30px auto;
  padding: 15px 30px;
  font-weight: 700;
  font-size: 18px;
  border-radius: 50px;
  text-transform: uppercase;
}


//Congratulation

.popup-congratulation {
  position: relative;
  max-width: 960px;
  margin: 0 auto;
  padding: 70px 70px 0 470px;
  border: 2px solid #eee;
  background: $white url("../images/congratulation-background.jpg") no-repeat;
  background-size: cover;
  @include breakpoint (lg) {
    padding: 0 50px 0 400px;
    background-position-x: -30px; 
  }
  @include breakpoint (md) {
    padding: 0 30px 0 250px;
    background-position-x: -80px; 
  }
  @include breakpoint (sm) {
    padding: 0 30px;
    background: $white;
    text-align: center;
  }
}

.popup-congratulation__paragraph--bold {
  margin-top: 140px;
  font-weight: 900;
  font-size: 36px;
  @include breakpoint (md) {
    font-size: 32px;
  }
  @include breakpoint (sm) {
    margin-top: 70px;
  }
}

.popup-congratulation__paragraph {
  margin-top: 25px;
  font-size: 24px;
  @include breakpoint (md) {
    font-size: 18px;
  }
}

.popup-congratulation__paragraph:last-of-type {
  margin-bottom: 215px;
  @include breakpoint (sm) {
    margin-bottom: 70px;
  }
}

.button-close {
  position: absolute;
  top: 30px;
  right: 50px;
  &::before,
  &::after {
    @include pseudo();
    width: 30px;
    height: 4px;
    background-color: $mainBlue;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
}

.button-close:hover {
  &::before,
  &::after {
    background-color: $darkBlue;
  }
}


//Popup-display

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.popup {
  display: none;
  position: relative;
  z-index: 300;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  box-shadow: 0 0 100px rgba(35,35,35,.8);
}

.popup-application {
  display: block;
  @include breakpoint (md) {
    height: 100%;
  }
}

.popup-congratulation {
  display: none;
}