@import '../helpers/variables';
@import '../helpers/mixins';

*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
}

html, body {
  height: 100%;
}

html {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: $ProximaNova;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: $grey;
  background: $white;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
}

img {
  vertical-align: bottom;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p,
figure,
blockquote {
  margin: 0;
}

ul, ol {
  padding: 0;
  list-style: none;
}

button {
  padding: 0;
  border: 0;
  background: none;
  cursor: pointer;
}

input {
  border-radius: 0;
}

input:invalid {
  box-shadow: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}