// Common
@import 'styles/common/normalize';
@import 'styles/common/fonts';
@import 'styles/common/common';

// Helpers
@import 'styles/helpers/mixs';

// Blocks
@import 'styles/blocks/main-header';
@import 'styles/blocks/calculator-services';